[Desktop Entry]
Encoding=UTF-8
Name=Newton Wallet
Comment=Newton wallet
Exec=NewtonWallet %U
Terminal=false
Type=Application
Icon=Newton
MimeType=x-scheme-handler/Newtoncoin;
Categories=Office;Finance;
